@model WebSiteSaoDima.Models.Evento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Excluir Evento</h2>

<h3>Tem certeza que deseja excluir este evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagemEvento)
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.imagemEvento);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <div class="cover-noticias" style="background-image: url('@imgSrc');"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvento1.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvento1.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
