@model WebSiteSaoDima.Models.Casamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Casamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.noivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprovado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprovado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
