
@{
    WebSiteSaoDima.Models.Usuario usu = (WebSiteSaoDima.Models.Usuario)Session["Usuario"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paróquia São Dimas</title>
    <link rel="icon" type="image/svg" src="~/Content/Img/ico.jpg" />


    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Site/f74b0.css" rel="stylesheet" />
    <link href="~/Content/Site/Style_Site.css" rel="stylesheet" />
    <link href="~/Content/Site/MyCustom.css" rel="stylesheet" />


</head>
<body>
    <div id="fb-root"></div>

    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '{your-app-id}',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>



    <div style="max-width:100vw; overflow:hidden;">
        @*Linha Topo da Pagina*@
        <div id="bloco-super-desktop" class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="menus-topo col-lg-6 col-lg-offset-6">
                        <nav id="menu-super">
                            <ul id="menu-menu-paroquias" class="reset">
                                <li id="menu-item-38692" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38692"><a target="_blank" href="http://www.catedralcristoreibh.com.br/">Catedral Cristo Rei</a></li>
                                <li id="menu-item-38693" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38693"><a target="_blank" href="http://arquidiocesebh.org.br/para-sua-fe/espiritualidade/meu-dia-em-oracao/">Meu dia em oração</a></li>
                            </ul>
                        </nav>

                        <nav class="santo-dia">
                            <span>Santo do dia:</span><a href="http://arquidiocesebh.org.br/para-sua-fe/o-santo-do-dia/sao-pio-v/" target="_blank">São Pio V</a>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <header id="header-super" class="animate hasLogo">
                <div id="bloco-secundario" class="menu-normal  hasLogo">
                    <div class="container">

                        <div class="row">
                            <div class="row-xs-height row-sm-height row-md-height">

                                <div class="col-xs-4 col-sm-2 col-xs-height col-sm-height col-xs-middle col-md-middle hidden-lg hidden-md">
                                    <a href="javascript:void(0);" class="bt-hamburguer visible-sm visible-xs">
                                        <div class="icon icon-hamburguer cor1"></div>
                                    </a>
                                </div>
                                <!-- Logo Topo -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 hidden-xs hidden-sm col-sm-height col-xs-height col-top">
                                    <a href="@Url.Action("Index","Home")" class="container-logo" style="height:125px; width:125px;">
                                        <img src="~/Content/Img/Logo paroquia.jpg" alt="Paróquia São Dimas" style="height:80px;">
                                    </a>
                                </div>
                                <div class="col-xs-4 visible-xs"></div>
                                <div class="col-md-14 col-sm-20 col-xs-16 col-xs-height col-sm-height col-top">
                                    <h1 id="logo">
                                        <a href="@Url.Action("Index","Home")">
                                            <small>Paróquia São Dimas</small>
                                            <span class="cor1">São Dimas</span>
                                        </a>
                                    </h1>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm hidden-xs col-sm-height col-md-height">
                                    <!-- Chamada Faço Parte -->
                                    <div class="faco-parte-header">
                                        <a href="@Url.Action("Index","Home",new {area= "Santo" })" target="_blank">
                                            <img src="~/Content/Img/santoImagem.png" class="ImagemTopDireito" title="São Pio V" />
                                        </a>
                                    </div>
                                    <!-- Chamada Faço Parte -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>
        </div>
        @* Menu de itens  *@


        <div class="container-menu-geral hidden-xs hidden-sm bg1 hasLogo">
            <div class="container">
                <div class="row">
                    <div class="col-md-19 col-lg-offset-3">
                        <nav id="faixa-menu-principal" class="hidden-sm hidden-xs">
                            <div id="menu-principal">
                                <ul id="menu-menu-principal-1" class="navbar-nav nav">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-75 dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Santuário</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="@Url.Action("Historia","Home")">História</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="@Url.Action("Oracoes","Home")">Oracoes</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-225 dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Para Você</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="@Url.Action("Index","Eventos")">Eventos</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="@Url.Action("Casamento","Home")">Casamentos</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-236 dropdown">
                                        <a  data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Para sua fé</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-238 dropdown-submenu">
                                                <a>Espiritualidade</a>
                                                <ul role="menu" class=" dropdown-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241"><a target="_blank" href="http://arquidiocesebh.org.br/para-sua-fe/o-santo-do-dia/">Santo do Dia</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-129 dropdown">
                                        <a  data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Notícias</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type_archive menu-item-object-noticias menu-item-130"><a href="@Url.Action("Noticias","Home")">Últimas Notícias</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a target="_blank" href="http://arquidiocesebh.org.br/noticias/">Arquidiocese de BH</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-142 dropdown">
                                        <a  data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Contato</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="@Url.Action("FaleConosco","Home")">Fale conosco</a></li>
                                        </ul>
                                    </li>
                                    @if (usu == null)
                                    {
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown" style="margin-left:5vw;">
                                            <a href="@Url.Action("Login","Home")" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Entrar</a>
                                            <ul role="menu" class=" dropdown-menu" style="width:400px; max-width:400px; padding:5px;">
                                                <form action="@Url.Action("Login","Home")" method="post">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143" style="margin-bottom:2px;">
                                                        <input type="email" placeholder="E-mail" name="email" style="width:100%; margin-bottom:5px;" />
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <input type="password" placeholder="Senha" name="senha" style="width:80%; margin-bottom:5px;" />
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                                                        <input type="submit" value="Entrar" class="btn btn-success" style="width:100%" />
                                                    </li>
                                                    <br />
                                                    <div style="width:100%; border-bottom:1px solid white;"></div>
                                                    <br />
                                                </form>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <button class="botao botao-danger"><a href="@Url.Action("Create","Usuarios")" style="text-decoration:none;">CADASTRAR </a> </button>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children " style="margin-left:5vw;">
                                            <div style="padding: 17px 11px 14px 11px;    font-family: Lato,sans-serif !important;    font-weight: 700;    font-size: 13px; color:white;">
                                                <span class="dropdown-toggle" style="padding: 17px 11px 14px 11px;font-family: Lato,sans-serif !important;font-weight: 700;font-size: 13px; color:white;">Olá,</span><a href="@Url.Action("Edit","Usuarios", new { id = usu.id })" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">@usu.nome</a>
                                                <a href="@Url.Action("Logout", "Home")" style="color:red;">Logout</a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        @*Corpo da Página*@
        <div class="row">
            <div class="container body-content">
                @RenderBody()
            </div>

        </div>

        @*Footer da Pagina*@
        <div class="row">

            <footer id="footer" class="">
                <div class="inner-footer">
                    <div class="container">

                        @* INFORMAÇÕES FOOTER *@
                        <div class="row">
                            <div class="row-md-height">

                                @* PRÓXIMAS MISSAS *@
                                <div class="col-md-7 col-md-height col-sm-24 col-xs-24">
                                    <div class="container-item-footer proxima-missa">
                                        <span>
                                            <img src="~/Content/Img/IconMissa.png" class="imagemIcon" />
                                        </span>
                                        <h3 class="cor1">Próxima Missa</h3>
                                        <p class="ProximaMissa"><p><strong>Segunda-feira</strong> às 19h <br><strong>Paróquia São Dimas</strong></p></p>


                                        <a href="http://santuariosaojudastadeu.arquidiocesebh.org.br/para-voce/missas/" style="text-decoration: underline;">Ver todos os horários</a>
                                    </div>
                                </div>

                                @* SCRETARIA *@
                                <div class="col-md-6 col-md-height col-sm-24 col-xs-24">
                                    <div class="container-item-footer horario-funcionamento">
                                        <span>
                                            <img src="~/Content/Img/IgrejaIcon.png" class="imagemIcon" />
                                        </span>
                                        <h3 class="cor1">Secretaria</h3>
                                        <p></p><div class="container-varios"><strong class="horarioEGPDia">Domingo</strong><br>Das 08h às 12h e das 17h às 20h</div><div class="container-varios"><strong class="horarioEGPDia">Segunda-feira a Sexta-feira</strong><br>Das 08h às 19h</div><div class="container-varios"><strong class="horarioEGPDia">Sábado</strong><br>Das 08h às 12h e das 16h às 19h</div><p></p>
                                    </div>
                                </div>

                                @* FALE CONOSCO *@
                                <div class="col-md-6 col-sm-8 col-md-height col-sm-24 col-xs-24">
                                    <div class="container-item-footer fale-paroquia">
                                        <span>
                                            <img src="~/Content/Img/faleconoscoICon.png" class="imagemIcon" />
                                        </span>
                                        <h3 class="cor1">Fale Conosco</h3>
                                        <p></p><div class="container-varios"><strong>Comercial:</strong> (31) 2526-4648      </div>
                                        <div class="container-varios"><strong>Comercial:</strong> (31) 2526-4164      </div>
                                        <p></p>
                                    </div>
                                </div> <!-- .coluna -->
                                @* Email *@
                                <div class="col-md-5 col-md-height col-sm-24 col-xs-24">
                                    <div class="container-item-footer email">
                                        <span>
                                            <img src="~/Content/Img/email_icone.png" class="imagemIcon" />
                                        </span>
                                        <h3 class="cor1">E-mail</h3>

                                        <div class="container-varios">faleconoscosãodimas@gmail.com</div>
                                        <div class="container-varios">facebook.com/paroquiasaodimas</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* endereço *@
                    <div class="container-enderecos">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-24">
                                    <div class="container-varios">
                                        <span>
                                            <img src="~/Content/Img/MapsIcon.png" class="imagemIcon" />
                                        </span>
                                        <span class="nomeSite cor1"><em>Paróquia</em> São Dimas</span>
                                        <span class="address"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="nomeSite cor1">Paróquia São Dimas</span>
                                <br>
                                <span class="address">Av. Djalma Vieira Cristo, 1315 - Vale do Jatoba, Belo Horizonte - MG, 30664-260</span>
                                <br>
                                <br>
                                <br>

                                <br>
                            </div>
                        </div>
                    </div>

                    @* Feed de Notícias *@
                    <div class="bg1 cor">
                        <div class="container-news-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="row-md-height">
                                        <div class="col-md-6 col-sm-7 col-sm-24 col-md-height col-md-middle">
                                            <div class="container-chamada-news">
                                                <div>
                                                    <img src="~/Content/Img/feedIcon.png" class="imagemIcon" />
                                                </div>
                                                <div class="chamada-news">
                                                    <h3>Boletim informativo</h3>
                                                    <p>Cadastre-se e receba as últimas notícias da Arquidiocese de BH</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-18 col-sm-17 col-md-height col-sm-24">
                                            <div class="news-paroquias">
                                                <div class="simplenewsletter" data-showon="">
                                                    <form method="POST" id="submit_simplenewsletter" class="form_simplenewsletter-5ae71e33b105c" novalidate="novalidate">
                                                        <fieldset class="simplenewsleter-field simplenewsleter-field-name">
                                                            <input name="simplenewsletter[name]" type="text" class="form-control" data-msg-required="Favor preencher o campo e-mail." placeholder="Nome" required="" aria-required="true">
                                                        </fieldset>

                                                        <fieldset class="simplenewsleter-field simplenewsleter-field-email">
                                                            <input name="simplenewsletter[email]" type="email" data-msg-required="Favor preencher o campo e-mail." data-msg-email="E-mail inválido" class="form-control" placeholder="Email" required="" aria-required="true">
                                                        </fieldset>

                                                        <fieldset class="simplenewsleter-field simplenewsleter-field-cpf">
                                                            <div class="ContainerCPF"><div class="ContainerCPF"><input name="simplenewsletter[cpf]" type="text" class="form-control CPF" placeholder="CPF" required="" maxlength="14" aria-required="true"></div></div>
                                                        </fieldset>

                                                        <input type="submit" value="Assinar" class="simplenewsleter-field-submit btn-send-white c1 btn bg2 bg2-hover" disabled="">
                                                    </form>

                                                    <div class="simplenewsletter_spinner" style="display:none;">
                                                        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling">
                                                            <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#ffffff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(114.201 50 50)">
                                                                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <script>initSimpleNewsletter('.form_simplenewsletter-5ae71e33b105c');</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* last footer *@
                    <div id="copyright" class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-16 col-sm-16 col-xs-24">
                                    <div class="txt-copy">
                                        <p>Copyright © 2018 Paróquia São Dimas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </footer>
        </div>
    </div>
</body>
</html>
